<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>noted.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
				<key>dateExpires</key>
				<string>05/06/2024</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>188B4FA77B8D9F6D8B2A997EBAC5833BAE06B90B</string>
						<key>dateExpires</key>
						<string>05/06/2024</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9478G9T3JY</string>
						<key>name</key>
						<string>Epitech (Innovation Hub)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9478G9T3JY.com.noted.notedmobile</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9478G9T3JY</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9d9b6dfc-5a5a-4355-915e-9a6b1a327696</string>
				<key>dateExpires</key>
				<string>05/06/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.noted.notedmobile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9478G9T3JY</string>
				<key>name</key>
				<string>Epitech (Innovation Hub)</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.1</string>
		</dict>
	</array>
</dict>
</plist>
